/* firstly we import font....montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:ital,wght@0,100;0,200;1,200;1,600&display=swap');
/* IF we want to make our website responsive then write your units in 'em',rem,or % not use in "px" */
/* now we use univarsal operator"*" which reset by default css browger setting */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* this is used for set margin and padding itself according to border. */
    /* that's why  */   
}

/* **********************html element styling*************/
html{
    /* font-size: 10px; */
    font-size: 62.5%;
}
body{
    font-family: 'montserrat' , sans-serif;
    /* line-height: 1.7%; */
}

/* for making ul item dotless */
ul li{
    list-style: none;
}
a{
    font-size: 1.6rem;
    text-decoration: none;/* this is used to remove underline from list element"a" */

}
p,li{
    font-size: 1.6rem;
    margin-top: 0.5em;
    /* margin-bottom: 0.5em; */
    /* means 50% of font size */
    /* means 8px */
    letter-spacing: 0.15em;
    /* this is used to give space between to ;letters */

}
h1,h2,h3{
    margin-bottom: 0.5em;
    /* it means margin will 50% of font size of h1,h2,h3 */
    letter-spacing: 0.08em;
    font-weight: 500;/* it means medium /light weigh font */
    

}
/* ################# header content styling############ */

/* to centralised the content of header we use position:absolute  */
/* for this we use top,left and transform:translate */
/* respect of which we want to cenralised set their position :relative */
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 2px solid white; */
    /* this is use to dark our bakground of header-content ... */
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
}
.header-content h1{
    font-size: 3.5em;
    text-transform: uppercase;
} 
.upper{
    text-transform: uppercase;
}


/* ################### header styling################### */
.header{
    height: 100vh;
    /* background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/header-image.jpg'); */
    /* background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/vns.jpg'); */
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('../img/Kashi-Vishwanath.webp');
    /* background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url('../img/WhatsApp Image 2022-06-06 at 3.40.17 PM.jpeg'); */
    /* this is used to insert background image for website */
    /* if we want to dark our website then we use..linear-gradients with 2 rgba values */

    background-position:center;
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
}
.header1{

    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('../img/WhatsApp Image 2022-06-06 at 3.40.17 PM.jpeg');

    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}
/* ##################### Styling of navbar ############# */
.navbar{
    /* border: 2px solid white; */
    padding: 1rem;
}
/* utility class "text-color" does not work because specificity of this is more than that */
/* that's why we comment out this .... */
.navbar .logo, 
.navbar a{
    color: white;
} 
/* .navbar.logo{
    color: white;
} */
/* .navbar .nav-items .nav-item a{
    color: white;
} */
/* .nav-item .nav-items{
    float: right;
} */
.navbar .logo{
    float: left;
    font-size: 3.5em;
    /* means 35px */
}

.navbar .nav-items{
    float:right;
    /* color: #f4f4f4; */
     /* after float everything of would be out of from their parent(nav bar) */
    /* we use after pseudo element to fix it */
     margin-top : 1rem;
}
.navbar::after{
    content: '';
    display: block;
    clear: both;
}
/* .nav-item .nav-items{
    float: right;
} */
/* this is used for over the underline bellow "a" when we go curser to "a' */
/* "hover" pseudo element is used */
.navbar a:hover{
 border-bottom: 1px solid #f4f4f4;
}
.navbar .nav-item{
    display: inline-block;
    padding: 1rem;  /* this is used to make a proper gap between nav-items */
    text-transform: uppercase;
    /* this is used to make text of nav item in UPPERCASE */
}


/* ###################### UTILITY CLASSES################## */

/* utility classes to improve navbar */
/* 'rem' unit are work with root element */
/* use % unit for make ur website user convinience */
/* 16px=100% */
/* 10px=62.5% */
/* 10px=1.6rem */
/* one utility class is used for only one purpose */

/* this is used as a container for our website */

 .container{
    max-width:  100%;
    /* it means max width of our container is 1200px */
    width: 80%;
    /* it means if we minimize size of our browger then it will adjust the content properly  */
    margin: 0 auto;
    /* top-down 0 px and left right auto */
}
/* this utility class is used for font size of h1 */
.lg-heading{
  font-size: 3.5rem;
  
}
/* this utility class is used for change thne color of h1 */
.text-red{
color: #e63946;
}
.md-heading{
  font-size: medium;
  font: bold;
   text-transform: uppercase;
}
.bg-dark{
    background: #263238;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333;
}
.text-gray{
    color: #555;
}
.text-pink{
    color:solid rgb(245, 7, 209)
}
.navbar a:link,
.navbar a:visited{
    color: #f4f4f4;
}

.btn{
    display: inline-block;
    font-size: 2em;
    font-weight: 500;
    padding: 0.5em 1em;
    text-transform: uppercase ;
    margin: 0.5em 0;
    border-radius: 100px;/* 10em */
}
.btn-primery{
    background: #fff;
    border-radius: 10em;
}
/* this is for secondary button */
.btn-secondary{
    background: #fff;
    border: 2px solid #e63946;
    /* text color and border are same */
    border-radius: 10em;
    font-size: medium;

}
/* add hover effect to buttons with the help of hover pseudo class*/
.btn-primery:hover{
    background: #ddd;
}
.btn-secondary:hover{
    background: #ddd;
}




/* ########################## showcase styling###################### */

.showcase{
    background: #ddd;
    padding: 10rem 0rem;

}
.row{
    /* border: 2px solid red; */
    height: 35rem;
    
    box-shadow: 0px 0px 20px 0px #aaa;
    /* this means box-shadow:horizontal offset, vertical offset ,how much blur,color */
}
/* this is done to make our website responsive and by the user change their display setting then it will not disturb */
row::after{
    content: "";
    display: block;
    clear: both;
}
/* this is used for taking gap b/w two row */
.margin_bottom{
    margin-bottom: 10rem;
}
/*this is used for floating the content of row1 and row2 */
.row1 .imgbox,.row2 .textbox,.row3 .imgbox,.row4 .textbox,.row5 .imgbox,.row6 .textbox,.row7 .imgbox,.row8 .textbox ,.row9 .imgbox,.row10 .textbox {
 float: left;
 width: 50%;
}
.row1 .textbox ,.row2 .imgbox,.row3 .textbox,.row4 .imgbox,.row5 .textbox,.row6 .imgbox,.row7 .textbox, .row8 .imgbox,.row9 .textbox, .row10 .imgbox{
    float: right;
    width: 50%;
    
}
/* give border */
.imgbox{
    /* border: 5px solid green; */
    height: 100%;
}
.textbox{
    /* border: 4px solid red; */
    height:100%;
    /* width: 100%;   */
    padding: 2rem;
    font-size: 150%;
    font-weight: 500;
    background: #fff;
}
/* now we insert the images */
.row .imgbox img{
    /* we know "img" is block element then change it into inline-block */
    display: inline-block;
    /* we want that our image take complete width and height of their parent */
    /* that's why we use...100% of our parent height and width */
    height: 100%;
    width: 100%;
    /* we want aspect ratio of our image would not be disturb...for this */
    /* we use.... */
    object-fit: cover;
}
.row .imgbox2 img{
    /* we know "img" is block element then change it into inline-block */
    display: inline-block;
    /* we want that our image take complete width and height of their parent */
    /* that's why we use...100% of our parent height and width */
    height: 100%;
    width: 100%;
    /* we want aspect ratio of our image would not be disturb...for this */
    /* we use.... */
    object-fit: cover;
}
p{
    letter-spacing: normal;
    word-spacing :2px;
}
   /* NOW WE GIVE BOX SHADOW to our row ...for good effect to our website*/
   /* this makes our row 3d effect */
   /* this has been add in .row class */


   /* ##################### features section styling################## */
   .feature {
       padding: 10rem 0;
       /* margin-bottom: 10rem; */
       
   }
   .box-wrapper{
       /* border: 2px solid blue; */
       box-shadow: 5px 5px 20px 0px rgb(64, 59, 59);
      
   }
   .box{
    width: 33.3333333%;
    /* border: 2px solid green;
    padding: 2%; */
    float: left;  
    /* border: 2px solid red; */
    padding: 2rem;
    text-align: center;
   }
  
   /* now clear float */
   .box-wrapper::after{
       content: "";
       display: block;
       clear: both;
   }
   .box-1, .box-3{
    background-color:#263238;
    color: #fff;
    
}
/* Background color of box-2 go to google and search "linear gradient css" */
   
   .box-2{
    background-color: rgb(219, 72, 72) ;
    color:#fff
   }
   /* ########## styling to our icons############## */
   /* we want to increase the font size of icons */
   /* then we use class of font-awesome */
   /* fa-2x for twice font size in icon as a utility class*/
   .footer{
       background-color: #263238;
       height: 20vh;
       color:#f4f4f4;
       text-align: center;
       padding: 2rem; 
   }
   /* TO Apply distance/space between two icons we use margin... */
   .social-media-links i{
       margin-right: 2rem;
   }
   /* now we want  that if we click on expolre button ...then it scroll the pages and take me to places home page */
   /*we add a "id" in home page and use this in link of explore */

   /* ############# now move to the about page coding################  */
   /* for this we copy head tag of home page and paste it to the about page */
   /* we also copy code of "navbar" from index.html  */


/* ######################### about page styling ################ */
.about{
    padding: 5rem 0;
    /* text-decoration: solid black underline; */
}
/* this  is utility class */
.about-heading{
    border-bottom: 6px solid #e63946;
}
/* THIS IA ALSO DONE BY ANOTHER METHOD USING PSEUDO ELEMENT */
/* .about-heading::after{
    content: '';
    display: block;
    border: 3px solid #e63946;
    width: 100%;
} */


/* ######## about-wrapper  ############## */
.about-wrapper{
    /* border: 2px solid green; */
    text-align: center;
    margin-bottom: 4rem;
}
.about-wrapper .left{
    float: left;
    width: 50%;
}
.about-wrapper.right{
    float: right;
    width: 50%;
}
/* this is used to clear the float */
.about-wrapper::after{
    content: "";
    display: block;
    clear: both;
}
/* to add tick mark before the "li" items we use ::before pseudo class */
.about-wrapper li::before{
  content: '\2713';        /* this is code for tick mark */
  color: #e63946;
  font-weight: bold;
  padding-right: 1rem;
  margin: 2rem 0;
}
/* ########### styling of counts ########### */
/* .counts{ */
/* border: 4px solid purple; */

/* now we have to float the element of counts class */
.count-item{
    float: left;
    width: 25%;
    text-align: center;
}
/* to clear float */
.counts::after{
    content: "";
    display: block;
    clear: both;
}
.count-item span{
    font-weight: 700;
}
.count-item p{
    font-weight: 600;
   color: #555;
}
.call-to-contact{
    /* border: 4px solid orangered; */
    background:#e63946;
    padding: 1rem;
    box-shadow: 5px 5px 10px 0px #55595c;
    margin-top: 3rem;
}
.cta-line{
    font-weight: 600;
    font-size: 2rem;
    margin-top: 1.5rem ;
}
.btn-cta{
    text-align: center;
    display: inline-block;
    font-size: 700;
    font-size: 3rem;
    text-transform: uppercase;
    border: 4px solid #ddd;
    padding: 0.3em 2.5em;
    letter-spacing: 0.5rem;
    color: #f4f4f4; 
}
.call-to-contact .left2{
    float: left;
    width: 60%;
} 
.call-to-contact .right2{
    float: right;
    width :40%;
    text-align:right;
} 
.call-to-contact::after{
    content: "";
    display: block;
    clear: both;
}

/* ################# CONTACT PAGE STYLING ######### */
.contact-form{
    /* padding: 5rem 0; */
    font-size: 2rem;
    background: #f4f4f4;
}
.form-wrapper{
    /* border: 10px solid red; */
    /* height: 70vh; */
    padding: 5rem 0;


}
.form-wrapper .company-address{
    height: 760px;
    /* border: 10px dotted green; */
    width: 49%;
    float: left;
    /* height: 70vh; */
    background: #fff;
    padding: 1rem;
}
    /* margin-bottom: 1rem;*/
.form-wrapper .form{
        /* border: 4px dotted black; */
        width: 49%;
        float: right;
        /* height: 70vh; */
        background: #fff;
}
/* now we have to clear the float of its parent..."form-wrapper" */
.form-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
/* we see our contact-form does not take whole width of screen */
/* thats why we put into container class..which we already have */

/* ############# STYLING ICONS OF CONTACT-FORM########### */
.display{
    display: inline;
}
.form-wrapper .company-address img{
    /* padding: 2rem 1rem;
    box-sizing: border-box;
    height: 65%; */
    max-width: 90%; /* any condition width will be 90% of their parent */
    min-height: 40%;
    /* to maintain aspect ratio use.... */
    object-fit: cover;

}
/* we want to give spaces b/w icons  */
/* we use.... */
.form-wrapper .address-group{
    margin-bottom: 2rem;
}
/* ############## FORM STYLING ######################## */
.form-wrapper .form{
    height: 760px;
    /* border: 4px dotted black; */
    font: 1.6rem;
    width: 49%;
    float: right;
    /* height: 70vh; */
    background: #fff;
    padding: 0.5em;
}
.form-wrapper .form label{
    display: block;
    font-weight:500;
    font-size: 1.5rem;
   
}
.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
    
}
.form-wrapper .form .form-group{
    margin-bottom: 2rem;
}
/* adding "*" to level */
.form-wrapper .form label::after{
    content: "*";
    color: #e63946;
}
.form-wrapper .form textarea{
    width: 100%;
    height: 300px;
    padding: 1rems;
}
.form p{
    margin-bottom: 2rem;
}

/* ############# STYLING FORM BUTTON ################# */
.form .form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.6rem;
    text-transform: uppercase;
    background: #e63946;
    outline: none;
    border: none;
    cursor: pointer;

}
/* ########################## STYLING FOR FOOD ################################ */
#food{
    padding: 5rem 0 10rem 0;
}
#food h2{
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;

}
.food-wrapper{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* margin-bottom: 2px; */
    /* padding: 10px 10px 20px 5px; */
}
.food-wrapper img{
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px; 
    /* taki 300px se jyada n ho height kisi v case me 300px se km hi rhe */
    object-fit: cover;
    /* this is used to fit the object image */
    object-position: center;
    
}
    
    
/* .img-container{
     width: 394px; 
    display: flex;
    position: relative;
}  */
.img-container{
    margin: 0 0.5rem;
    position: relative;
}
.img-content .btn{
    background: #117964;
    margin:  1rem ;
    padding: 1rem;
    font-size: 1.5rem;
}
.img-content .btn:hover{
    background:#044f40;
    border-radius: 50px;
    transition: background 0.3s ease-in-out;
}
/* this is for to put /shift the button and img-content on the image */
.img-content{
    position: absolute;
     top: 70%;
     left: 50%;
    transform: translate(-50%,-50%);
    /* if we hover then it will show...for this set opacity:0 */
    opacity: 0;
    z-index: 2;
    text-align: center;
} 
.img-content h3{
    color: #fff;
    font-size: 3rem;
}
.img-content a{
    /* font-weight: 500; */
    font-size: 1.2rem;
}

/*  Adding overlays................ */
.img-container::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.600);
    /* opacity: 0; */
    z-index: 1;

/* adding transition ...............*/
transform:scaleY(0);
/* change origin ........................*/
transform-origin: 100% 100%;
transition: all 0.3s ease-in-out;
}
.img-container:hover::after{
   opacity: 1;
   transform:scaleY(1) ;
}
.img-container:hover .img-content{
    opacity: 1;
    top:40%
}

/* ################### STYLING FOOD- MENU ######################## */
.food-menu-heading{
   font-size: 4rem;
   text-align: center;
   font-weight: 500;
   color: #666;
}
/* this is done for float the image */
.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
}
.food-menu-item{
  display: flex;
  flex: 1 1 600px;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
.food-menu-container img{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
/* to take food decription center use... */
.food-description{
    margin: auto 2rem;
}
.food-title{
    font-size: 2.2rem;
    font-weight: 450;
    color: #222;

}
.food-description p{
    font-size: 1.4rem;
    font-weight: 500;
    color: #444;
}
.food-description .food-price{
    font-size:1.5rem;
    font-weight: 600;
    color: #117964;
}

/* add footer...in contact page...copy footer code from "index.html" and paste it into the contact.html */


/* ######################## NOW MAKE WEBSITE RESPONSIVE #################################### */

/* RESPONSIVE WEBSITES MEANS IF WE OPEN OUR WEBSITE on any device it look as it is */
/* things not mashup */
/* we make it responsive through use of media queries */
/* there are two types of responsive websites */
/* 1.desktop fist responsive 2. mobile first responsive  */
/* we change our font size of the website...that's why we give font-size in "rem" not in" px" */
/* if we apply media queries on root element font size fo element would be change easily */


/* ################### for mobile device ################## */
/* apply media queries */
@media (max-width :500px){
    html{
        /* fonts-size: 8px; */
        font-size: 50%;
        /* it means font size of element would be 50% 0f root element(8px) */
    }
    /* if we dont want to float our values..then */
    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    /* if we don't display any content on mobile device or less content then set display:none */
    /* ############ adding media queries to home page ...2nd page ############# */
    .row{
        height: auto;
        width: 100%;
    }
    .row .textbox, .row .imgbox{
        float: none;
        display: block;
        /* text-align: center; */
        width: 100%;
    }

   /* ############ adding media queries to features section ######### */
   .feature .box{
       float: none;
       width: 100%;
       /* height: none; */
       text-align: center;
       box-shadow: 5px 5px 20px 0px rgb(64, 59, 59);
   }
   /* NOW WE WANT TO ADD SOME SPACES B/W THE BOXES */
   /* for this.... */
   .feature .box-2,
   .feature .box-3{
          margin-top: 7rem;
   }
   /* after giving margin to the boxes there is a problem..."box-shadow" not showing good */
   /* for this we have to give box-shadow for all boxes */
   /* press ctrl+f and search the box-shadow...now copy this and set it to none in media queries */
   .box-wrapper{
    /* border: 2px solid blue; */
    box-shadow: none
   }
   /* now our website home page...2nd page looks perfect */

   /* #############  adding media queries to about page ################# */
   .call-to-contact .left2,
   .call-to-contact .right2{
       float: none;
       width: 100%;
       text-align: center;
   }
/* ########### adding media queries to contact page ########### */
   .form-wrapper .company-address{
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
   }

   .form-wrapper .form{
    float: none;
    width: 100%;
    height: auto;
    /* margin-bottom: 5rem; */
   }
   
}



/* ################## we have to make our website which is responsive for tablets */

/* for this we add again media queries */
@media(min-width :501px ) and (max-width :768px){
   html{
       /* font-size: 8px ; */
       font-size: 50%;
   }
   p{
       font-size: 1.8rem;
   }
   .navbar .nav-items, .navbar .logo{
    float: none;
    display: block;
    width: 100%;
    /* text-align: center; */
}
/* if we don't display any content on mobile device or less content then set display:none */


/* ############ adding media queries to home page ...2nd page */
.row{
    height: auto;
    width: 100%;
}
.row .textbox, 
.row .imgbox{
    float: none;
    width: 100%;
    /* display: block; */
    text-align: center;
    
    /* font-size: 5 rem; */

}
/* ############ adding media queries to features section ######### */
.feature .box{
   float: none;
   width: 100%;
   /* height: none; */
   text-align: center;
   box-shadow: 5px 5px 20px 0px rgb(64, 59, 59);
}
/* NOW WE WANT TO ADD SOME SPACES B/W THE BOXES */
/* for this.... */
.feature .box-2,
.feature .box-3{
      margin-top: 7rem;
}
/* after giving margin to the boxes there is a problem..."box-shadow" not showing good */
/* for this we have to give box-shadow for all boxes */
/* press ctrl+f and search the box-shadow...now copy this and set it to none in media queries */
.box-wrapper{
/* border: 2px solid blue; */
box-shadow: none
}
/* now our website home page...2nd page looks perfect */

/* #############  adding media queries to about page ################# */
.call-to-contact .left2,
.call-to-contact .right2{
   float: none;
   width: 100%;
   text-align: center;
}
/* ########### adding media queries to contact page ########### */
.form-wrapper .company-address{
float: none;
width: 100%;
height: auto;
margin-bottom: 5rem;
}

.form-wrapper .form{
float: none;
width: 100%;
height: auto;
/* margin-bottom: 5rem; */
}
}
/* ####################### MEDIA queries for divices which is more than 768px ##############*/
  @media(min-width :769px) and (max-width :1200px){
    html{
         /* font-size: 9px; */
          font-size: 56.25%;
    }  
    .row .textbox h2,.row .textbox p{
        font-size: 2.2rem;
        /* font-size: 56.0%; */
        font-weight: 500px;
    }  
    .row{
        height: auto;
        width: 100%;
    }
    .row .textbox, 
    .row .imgbox{
        float: none;
        width: 100%;
        /* display: block; */
        text-align: center;
        
        /* font-size: 5 rem; */
    
    }
    /* .container .row{
        width:100%;
        height: 100%;
    }
     */
 }
/* now our website would be responsive....but there is a problem... */
/* if we rotate our phone then only header is not good...beside this every thing would be good */
/* for this we add media queries in landscap mode */
@media(orientation :landscape) and (max-height:500px) {
    .header{
        height: 90vmax;
        /* it menas height of header should not be mor than 90v in any condition */
    }
    .feature .box{
        flex-wrap: nowrap;
    }
}

/* ############### NOW WE HAVE TO HOST OUR WEBSITE FOR FREE ############### */
/* THIS IS DONE BY "www.netlify.com" */
/* then sing up */
/* log in */
/* now drag ur folder of ur website and drop there */

